*{
    margin:0px;
    padding:0px;
    box-sizing:0px;
}
#container{
    background-color:azure;
    min-height:100vh;
    border:10px solid #1d1e4c
}
#content
{
    max-width:600px;
    margin:0px auto;
}
#topsection{
    margin-top:50px;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}
#image{
    border-radius:50%;
    
}
#image,img{
    width: 200px;
    height:220px;
    border-radius:50%;   
}
#title{
    display:flex;
    flex-direction:column;
}
#title,h3{
    text-align:end;
}
#about{
    margin-top:75px;
    
}
#about,h1{
    font-size:30px;
}
#about,p{
    font-size:20px;
}
#bio{
    margin-top:15px;
    margin-bottom:7.5px;
}
#bio,h3{
    text-align:start;
    font-size: 25px;
}
ul{
    font-size:20px;
}


